# =============================================================
# CONTOH ENV — FILE INI AMAN DI-PUSH KE GITHUB ✅
# Salin file ini menjadi ".env" lalu isi nilainya sendiri
# =============================================================

EXPO_PUBLIC_API_BASE_URL=https://your-server-1-api.com/api
EXPO_PUBLIC_NETSHORT_BASE_URL=https://your-server-2-api.com/api
